.idea/*
.env

vendor
var/log/
var/cache/
public/bundles/
public/files/compta/*
composer.phar
README.md
web/upload/*
*.orig
**/Entity/*~
Supprimerait .idea/
Supprimerait app/cache/
Supprimerait app/logs/
Supprimerait web/bundles/
